body{
    background-color: powderblue;
    margin: 20px;
}
h1{
    color: red;
    font-family: verdana;
    font-size: 25px;
}
p{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid green;
    padding: 20px;
    
}
table,th,td{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    border-style: dotted;
    padding: 10px;
    border-color: red;
    
}
th,td{
    background-color: white;
}
tr:hover {background-color: #D6EEEE;}